name: TaskMaster CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/Checkout@v3
      
      - name: Login to dockerhub
        uses: docker/login-action@v2  
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
        
      - name: build and deploy docke image
        uses: docker/build-push-action@v4
        with: 
          context: ./backend
          push: true
          tags: ${{secrets.DOCKER_USERNAME}}/taskmaster-backend:latest
    
    build-frontend:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
        
        - name: Login to dockerhub
          uses: docker/login-action@v2
          with:
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
        - name: Build and deploy docker image
          uses: doceker/build-push-action@v4
          with:
            context: ./frontend
            push : true
            tags: ${{secrets.DOCKER_USERNAME}}/taskmaster-frontend:latest
